.popular-class-area {
  padding: 40px 0;
}
.popular-class {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.single-popular-ins p {
  margin-bottom: 8px;
}
.single-popular-ins span {
  font-weight: 500;
}
.single-popular-ins .card-title {
  text-transform: uppercase;
}
.single-popular-ins img {
  height: 350px;
}
.popular-class-area .section-title {
  text-align: center;
  margin-bottom: 30px;
}
.popular-class-area .section-title h4 {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 800;
  margin-top: -28px;
}
@media only screen and (max-width: 576px) {
  .popular-class-area .section-title h4 {
    font-size: 24px;
  }
  .popular-class {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
