.class-find-area {
  background: #171c34;
  padding: 50px 0;
}
.class-find-content {
  text-align: center;
  color: #fff;
}
.class-find-content h3 {
  width: 40%;
  margin: 0 auto;
  line-height: 45px;
  padding: 0 0 25px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .class-find-content h3 {
    width: 100%;
  }
}
