.faq-area {
  padding: 50px 0;
}
.faq-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  /* align-items: center; */
  padding: 30px 0;
}
.faq-img img {
  width: 100%;
  border-radius: 10px;
}
.accordion-button {
  font-size: 18px;
  font-weight: 600;
}
.accordion-button[aria-expanded="true"] {
  color: #fe5000;
}
.accordion-button::after {
  background-image: url(/src/assets/icons/plus.png);
}
.accordion-button:not(.collapsed)::after {
  background-image: url(/src/assets/icons/minus.png);
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #f9f9f9;
}
/* Responsive */
@media (max-width: 991px) {
  .faq-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .faq-area {
    padding: 30px 0;
  }
  .faq-content {
    align-items: center;
  }
}
/*MD devcie*/
@media (min-width: 768px) and (max-width: 991px) {
  .faq-area {
    padding: 40px 0 20px 0;
  }
  .faq-img {
    text-align: center;
  }
  .faq-img img {
    width: 75%;
  }
  .accordion-button {
    font-size: 16px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .faq-area {
    padding: 30px 0 10px 0;
  }
}
/* Mobile */
@media (max-width: 575px) {
  .faq-area {
    padding: 20px 0 10px 0;
  }
  .accordion-button {
    font-size: 16px;
  }
}
