.header-area {
  background-color: #171c34;
}
/* .navbar-nav a {
  color: #fff;
} */
.header-area a.active {
  color: #fe5000;
}
.header-area a {
  background-color: transparent;
}
.header-area a {
  text-decoration: navajowhite;
  padding: 0 15px;
  font-size: 16px;
  /* text-transform: uppercase; */
  font-weight: 600;
  color: #fff;
}
p.user-name {
  margin: 0;
  font-weight: 600;
  padding: 0 10px;
  color: #fff;
}
.logout-btn {
  margin-right: 10px;
}
