.selected-class-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.single-selected-class p {
  margin-bottom: 8px;
}
.single-selected-class span {
  font-weight: 500;
}
.single-selected-class .card-title {
  text-transform: uppercase;
}
.single-selected-class img {
  height: 270px;
}
.selected-class-area button {
  background: #fe5000;
  border: navajowhite;
  padding: 8px 30px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  margin-right: 10px;
}
.selected-class-area button:hover {
  background: #171c34;
  transition: 0.3s;
}
