.footer-container {
  background: #171c34;
  padding: 40px 0 1px 0;
}
.footer-container h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fe5000;
  position: relative;
  padding-bottom: 20px;
}
.footer-container h3::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  content: "";
  background: #804bff;
}
.footer-container p {
  color: #fff;
  margin: 15px 0;
  opacity: 0.6;
}
.footer-contact li {
  opacity: 0.6;
}
.social-link h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.social-icon {
  list-style: none;
}
.social-link ul {
  padding: 0;
  display: flex;
}
.social-icon li {
  margin-right: 15px;
}
.social-icon li:hover a {
  color: #ff4646;
  transition: 0.3s;
}
.social-icon li a {
  color: #fff;
  opacity: 0.6;
  /* font-size: 16px; */
}
.footer-area ul {
  list-style: none;
  padding: 0;
  color: #fff;
}
.footer-area ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}
.footer-container ul li:hover a {
  opacity: 1;
  transition: 0.3s;
}
.footer-subscribe form input {
  height: 45px;
  width: 100%;
  background: none;
  color: #fff;
  border-bottom: 1px solid #9597a2;
  margin-bottom: 25px;
  border: navajowhite;
  border-bottom: 1px solid #9597a2;
  outline: none;
}
.footer-subscribe form .submit-btn input {
  width: 50%;
  background: #ff4646;
  margin-top: -10px;
}
.copyright {
  border-top: 1px solid #804bff;
}
.copyright p {
  text-align: center;
  opacity: 1;
}
.footer-bg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .footer-contact {
    padding-left: 0;
  }
}
