.footer-area {
  margin-top: -40px;
}
.footer-container {
  background: #171c34;
  padding: 40px 0 1px 0;
}
.footer-container h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fe5000;
  padding-bottom: 5px;
}
.footer-container p {
  color: #fff;
  margin: 15px 0;
  opacity: 0.8;
}
.footer-contact li {
  opacity: 0.8;
  margin-top: 5px;
}
.quick-links-area {
  padding-left: 80px;
}
.social-link h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.social-icon {
  list-style: none;
}
.social-link ul {
  padding: 0;
  display: flex;
}
.social-icon li {
  margin-right: 15px;
}
.social-icon li:hover a {
  color: #ff4646;
  transition: 0.3s;
}
.social-icon li a {
  color: #fff;
  opacity: 0.8;
}
.footer-area ul {
  list-style: none;
  padding: 0;
  color: #fff;
}
.footer-area ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
.footer-container ul li:hover a {
  opacity: 1;
  transition: 0.3s;
  color: #fe5000;
}

.subscribe-btn.custom-btn button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 50%;
  width: 33.33%;
  background-color: #fe5000;
  transition: width 0.3s;
  z-index: -1;
}
.subscribe-btn.custom-btn button:hover:before {
  width: 100%;
  transition: 0.3s;
}
.subscribe-btn.custom-btn input {
  border: none;
}

.footer-subscribe form input {
  height: 45px;
  width: 100%;
  background: none;
  color: #fff;
  border-bottom: 1px solid #9597a2;
  margin-bottom: 25px;
  border: navajowhite;
  border-bottom: 1px solid #9597a2;
  outline: none;
}

.copyright {
  border-top: 2px solid #fe5000;
}
.copyright p {
  text-align: center;
  opacity: 1;
}
.footer-bg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
.footer-icon {
  border: 1px solid #fff;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  margin-right: 10px;
}
.footer-contact li:hover .footer-icon {
  background: #fe5000;
  border: 1px solid #fe5000;
  transition: 0.4s;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
/* MD */
@media (min-width: 768px) and (max-width: 991px) {
  .quick-links-area {
    padding-left: 40px;
  }
  .footer-subscribe {
    padding-left: 40px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .quick-links-area {
    padding-left: 12px;
  }
  .footer-container {
    text-align: center;
  }
  .footer-contact ul {
    list-style: none;
    padding: 0;
    color: #fff;
    text-align: left;
  }
}

@media only screen and (max-width: 576px) {
  .footer-contact {
    padding-left: 0;
  }
  .footer-contact ul {
    list-style: none;
    padding: 0;
    color: #fff;
    text-align: left;
  }
  .footer-area {
    text-align: center;
  }
  .social-link ul {
    justify-content: center;
  }
  .quick-links-area {
    padding-left: 0px;
  }
  .footer-subscribe form input {
    width: 65%;
  }
}
