.gallery-area {
  padding: 50px 0 70px 0;
  background: #f9f9f9;
}

/* CSS */
.lg-react-element {
  column-count: 3;
  column-gap: 10px;
}

.lg-react-element a {
  position: relative;
  display: block;
}

.lg-react-element a img {
  width: 100%;
  height: auto;
  /* padding: 5px 0; */
  padding: 5px;
  border-radius: 17px;
}

.lg-react-element a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fe5000;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 17px;
}

.lg-react-element a:hover::before {
  opacity: 0.3;
}
/* Large devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .gallery-area {
    padding: 40px 0 60px 0;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .gallery-area {
    padding: 35px 0 60px 0;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .gallery-area {
    padding: 30px 0 50px 0;
  }
}
