.manage-users-area button {
  border: none;
  background: #fe5000;
  border: navajowhite;
  padding: 8px 5px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  margin-right: 10px;
}
.manage-users-area button:hover {
  background: #171c34;
  border-radius: 5px;
  transition: 0.3s;
}
