/* modofication */
.about-area {
  padding: 80px 0;
}
.about-area-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  position: relative;
}
.about-area-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.about-area-left img {
  width: 100%;
}
.about-area-left .img2 {
  margin-top: 80px;
}
.img3 {
  position: absolute;
  width: 320px;
  /* height: 255px; */
  bottom: -3%;
  left: 17%;
}
.about-area .area-title {
  text-align: left;
}
.about-area .area-title h2 {
  font-size: 28px;
  text-transform: inherit;
}
.about-area-right {
  padding: 50px 20px;
}
.about-area .custom-btn button::before {
  width: 100%;
}
.about-area .custom-btn:hover a {
  color: #fff;
}
.about-area .custom-btn button:hover::before {
  background: #000;
  transition: width 0.3s;
}
.short-features {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.short-features h5 {
  font-weight: 600;
}
.short-features p {
  margin-bottom: 6px;
  letter-spacing: 2px;
}

/*MD devcie*/
@media (min-width: 768px) and (max-width: 991px) {
  .about-area-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .short-features {
    padding: 0 0 15px 0;
  }
}
@media only screen and (max-width: 576px) {
  .about-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .about-content h2 {
    font-size: 34px;
    line-height: 2rem;
    text-align: center;
  }
  .about-content p {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
  }
  .banner-section .container {
    padding: 20px 0;
  }
}
