.about-area {
  padding: 40px 0;
}
.about-img {
  background-image: url(${aboutImg2});
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content h2 {
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 5rem;
  margin-top: -55px;
}
.about-content p {
  color: #bdbdbd;
  font-size: 17px;
  margin: 20px 0;
}
/*  */
.custom-btn {
  display: inline-block;
  overflow: hidden;
}

.custom-btn button {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 200px;
  position: relative;
  z-index: 1;
}

.custom-btn button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.33%;
  background-color: #fe5000;
  transition: width 0.3s;
  z-index: -1;
}

.custom-btn button:hover:before {
  width: 100%;
  transition: 0.3s;
}

.custom-btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .about-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .about-content h2 {
    font-size: 34px;
    line-height: 2rem;
    text-align: center;
  }
  .about-content p {
    font-size: 16px;
    text-align: center;
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
  }
  .banner-section .container {
    padding: 20px 0;
  }
}
