.banner-img img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: inherit;
  /* height: 100vh; */
}
.banner-content {
  position: absolute;
  color: #fff;
  top: 25%;
  left: 10%;
}
.banner-content h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  width: 780px;
}
.banner-content p {
  width: 580px;
  padding: 15px 0;
}

.banner-content span {
  background: #ffffff;
  background: linear-gradient(to top left, #ffffff 0%, #fe5000 60%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}
.swiper-wrapper {
  height: 100vh;
}
@font-face {
  font-family: "Great Sejagad";
  /* src: url("../../../../public/Great\ Sejagad.ttf") format("truetype"); */
  src: url("../../../../Great\ Sejagad.ttf") format("truetype");
}
.main-heading {
  font-family: "Great Sejagad";
  color: #fe5000;
  font-size: 110px;
}
.banner-bottom-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  /* margin-top: -220px; */
  position: absolute;
  bottom: 0;
}
.banner-img {
  position: relative;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

/* SWIPER */
/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fe5000;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@media only screen and (max-width: 576px) {
  .main-heading {
    font-size: 60px;
  }
  .banner-content h2 {
    font-size: 30px;
  }
  .custom-btn button {
    width: 130px;
  }
}
