/* .banner-img img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: inherit;
  
}
.banner-content {
  position: absolute;
  color: #fff;
  top: 25%;
  left: 10%;
}
.banner-content h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  width: 780px;
}
.banner-content p {
  width: 580px;
  padding: 15px 0;
}

.banner-content span {
  background: #ffffff;
  background: linear-gradient(to top left, #ffffff 0%, #fe5000 60%);
  -webkit-text-fill-color: transparent;
}
.swiper-wrapper {
  height: 100vh;
}
@font-face {
  font-family: "Great Sejagad";
  src: url("../../../../Great\ Sejagad.ttf") format("truetype");
}
.main-heading {
  font-family: "Great Sejagad";
  color: #fe5000;
  font-size: 110px;
}
.banner-bottom-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.banner-img {
  position: relative;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fe5000;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@media only screen and (max-width: 576px) {
  .main-heading {
    font-size: 60px;
  }
  .banner-content h2 {
    font-size: 30px;
  }
  .custom-btn button {
    width: 130px;
  }
} */
.banner-area .slick-arrow.slick-prev {
  left: 5%;
  z-index: 1;
}
.banner-area .slick-arrow.slick-next {
  right: 5%;
}
.banner-area .slick-prev,
.banner-area .slick-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0;
  background: #fe5000 !important;
  opacity: 0.7;
  border-radius: 0 !important;
  transition: 0.4s;
}
.banner-area .slick-prev::before,
.banner-area .slick-next::before {
  font-size: 30px !important;
  line-height: 0.5 !important;
  color: #fff !important;
  font-family: unset !important;
}
.banner-area .slick-prev:hover,
.banner-area .slick-next:hover {
  background: #000 !important;
  border-radius: 50% !important;
  transition: 0.4s;
  opacity: 1;
}
.banner-area .slick-dots {
  bottom: 5% !important;
}
.banner-area .slick-dots li button {
  background: #fe5000 !important;
}
.banner-area .slick-dots li button:before {
  content: "•";
  opacity: 1 !important;
  color: #fff !important;
}
.banner-area .slick-dots li.slick-active button::before {
  color: black !important;
}
.banner-area .slick-slide img {
  display: block;
  /* height: 100vh; */
  width: 100%;
}

.banner-one,
.banner-two,
.banner-three,
.banner-four {
  background-image: url(../../../assets//banner/football2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-two {
  background-image: url(../../../assets//banner/tennis5.jpg);
}
.banner-three {
  background-image: url(../../../assets//banner/skiing3.jpg);
  background-position: initial;
}
.banner-four {
  background-image: url(../../../assets//banner/basketball.jpg);
  background-position: initial;
}
.banner-five {
  background-image: url(../../../assets//banner/cycling.jpg);
}
.banner-content {
  display: grid;
  height: 100vh;
  align-content: center;
}
.banner-content h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  /* width: 780px; */
  color: #fff;
  line-height: 65px;
  z-index: 1;
}
.banner-content h2 span {
  color: #fe5000;
  font-weight: 900;
}
.banner-content p {
  /* width: 580px; */
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  z-index: 1;
}
.banner-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.banner-two .banner-content,
.banner-three .banner-content,
.banner-four .banner-content,
.banner-five .banner-content {
  text-align: center;
  width: 50%;
}
.banner-one .banner-content h2 {
  width: 780px;
}
.banner-one .banner-content p {
  width: 580px;
}
.banner-two .banner-content h2 {
  padding: 0 80px;
}
.banner-five .banner-content h2 {
  padding: 0 30px;
}
.type-msg {
  color: #fe5000;
  font-weight: 900;
  font-family: initial;
}
/*MD devcie*/
@media (min-width: 768px) and (max-width: 991px) {
  .banner-content h2 {
    font-size: 38px;
    line-height: 45px;
  }
  .banner-content p {
    font-size: 16px;
  }
  .banner-two .banner-content,
  .banner-three .banner-content,
  .banner-four .banner-content,
  .banner-five .banner-content {
    width: 100%;
  }
}
