.join-area {
  padding: 80px 0;
  position: relative;
  background: #f9f9f9;
}
.slick-slide.slick-active.slick-center.slick-current {
  width: 600px !important;
}

.join-area-text {
  width: 50%;
}
.join-area-slider {
  width: 50%;
  position: absolute;
  top: 60px;
  right: 0;
}
.join-area .custom-btn a {
  color: #000;
}
.join-area .area-title {
  text-align: left;
}
.join-area .custom-btn {
  margin-top: 30px;
}

.join-area .slick-arrow.slick-prev {
  top: 109% !important;
  left: 47%;
}
.join-area .slick-arrow.slick-next {
  top: 109%;
  right: 43%;
}
.join-area .slick-prev,
.join-area .slick-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #fe5000 !important;
}
.join-area .slick-prev::before,
.join-area .slick-next::before {
  font-size: 30px !important;
  line-height: 0.5 !important;
  color: #fff !important;
  font-family: unset !important;
}
/*MD devcie*/
@media (min-width: 768px) and (max-width: 991px) {
  .join-area {
    padding: 20px 0;
    min-height: 850px;
  }
  .join-area-text {
    width: 100%;
  }
  .join-area-slider {
    width: 100%;
    top: unset;
    bottom: 0;
    margin-bottom: 75px;
  }
  .join-area .custom-btn {
    margin-top: 10px;
  }
  .join-area .slick-arrow.slick-next {
    right: 39%;
  }
}

/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .join-area {
    padding: 20px 0;
    min-height: 850px;
  }
  .join-area-text {
    width: 100%;
  }
  .join-area-slider {
    width: 100%;
    top: unset;
    bottom: unset;
    margin-bottom: 75px;
    padding: 20px;
  }
  .join-area .slick-arrow.slick-next {
    right: 39%;
  }
  .join-area .slick-arrow.slick-next {
    top: 53%;
  }
  .join-area .slick-arrow.slick-prev {
    top: 53% !important;
  }
  .join-area .custom-btn {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .join-area .area-title {
    text-align: center;
  }
}
