.join-area {
  padding: 80px 0;
  position: relative;
  background: #f9f9f9;
}
.slick-slide.slick-active.slick-center.slick-current {
  width: 600px !important;
}

.join-area-text {
  width: 50%;
}
.join-area-slider {
  width: 50%;
  position: absolute;
  top: 60px;
  right: 0;
}
.join-area .custom-btn a {
  color: #000;
}
.join-area .area-title {
  text-align: left;
}
.join-area .custom-btn {
  margin-top: 30px;
}

.slick-arrow.slick-prev {
  top: 109% !important;
  left: 47%;
}
.slick-arrow.slick-next {
  top: 109%;
  right: 43%;
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #fe5000 !important;
}
.slick-prev::before,
.slick-next::before {
  font-size: 30px !important;
  line-height: 0.5 !important;
  color: #fff !important;
  font-family: unset !important;
}
