/* .join-area {
  background-image: url(/src/assets/join-bg.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  position: relative;
}
.join-area-bg-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.join-area-content {
  z-index: 1;
  color: #fff;
}
.join-area-content h2 {
  font-weight: 700;
  font-size: 52px;
  margin: 20px 0;
}
.join-area-content h2 span {
  color: #fe5000;
}
.join-area-content p {
  font-size: 18px;
} */
.join-area {
  padding: 80px 0;
  position: relative;
  background: #f9f9f9;
}
.slick-slide.slick-active.slick-center.slick-current {
  width: 600px !important;
}
/* .join-area-content.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
} */
.join-area-text {
  width: 50%;
}
.join-area-slider {
  width: 50%;
  position: absolute;
  top: 60px;
  right: 0;
}
.join-area .custom-btn a {
  color: #000;
}
.join-area .area-title {
  text-align: left;
}
.join-area .custom-btn {
  margin-top: 30px;
}
