.approved-class-area .area-title {
  padding: 40px 0;
}
.approved-class-area .area-title p {
  width: 70%;
  margin: 0 auto;
}
.all-approved-class {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  position: relative;
}
.approved-class-area .card-text {
  text-align: left;
}
.single-approved-class .card-title.h5 {
  position: absolute;
  top: 15px;
  right: 15px;
  text-transform: inherit;
  background: #fe5000;
  padding: 5px 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
}
.single-approved-class img {
  height: 270px;
  transition: transform 0.3s;
}
.single-approved-class:hover img {
  transform: scale(1.1);
  overflow: hidden;
}
.rating-star svg {
  stroke: #fe5000 !important;
  height: 20px;
}
.rating-star .rr--on .rr--svg {
  fill: #fe5000;
}
.ins-name {
  margin: 7px 0;
}
.single-approved-class span {
  font-weight: 600;
}
.seat-price {
  display: flex;
  justify-content: space-between;
}
.price {
  color: #0d5ef4;
}
.select-btn {
  text-align: center;
  margin: 25px 0 10px 0;
  /* display: grid; */
  width: 100%;
}
.select-btn button {
  background: linear-gradient(
    to right,
    #ff2100,
    #ff4000,
    #ff5500,
    #ff6700,
    #ff7600
  );
  border: none;
  padding: 6px 30px;
  color: #fff;
  font-weight: 600;
  transition: 0.4s;
  width: 100%;
}
.select-btn:hover button {
  color: #000;
}

.single-approved-class .card {
  overflow: hidden;
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .all-approved-class {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-approved-class img {
    height: 250px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .all-approved-class {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .single-approved-class img {
    height: 220px;
  }
  .single-approved-class .card {
    width: 15.5rem !important;
  }
}
