.all-approved-class {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.single-approved-class p {
  margin-bottom: 8px;
}
.single-approved-class span {
  font-weight: 500;
}
.single-approved-class .card-title {
  text-transform: uppercase;
}
.single-approved-class img {
  height: 270px;
}
.single-approved-class button {
  border: none;
  background: #fe5000;
  border: navajowhite;
  padding: 8px 30px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.single-approved-class button:hover {
	background: #171c34;
	border-radius: 5px;
	transition: .3s;
}