/* Font family */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"); */

.dashboard-sidebar {
  background: #fe5000;
  height: 100vh;
}
.dashboard-sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.dashboard-sidebar ul li {
  list-style: none;
}
.sidebar-logo {
  background: #171c34;
}
.sidebar-logo img {
  height: 60px;
}
.sidebar-logo h3 {
  color: #fff;
  margin-left: 40px;
}
.sidebar-logo {
  padding: 20px 25px;
}
.sideabar-menu {
  padding: 40px 20px;
}
.sideabar-menu a.active {
  color: #000;
}
/* It is for scroll to top */
.relative {
  position: relative;
}

/* Thene toggle */
:root {
  /* font-family: "Roboto Condensed", sans-serif; */
  /* Light Theme */
  --bg-color: #f5f5f5;
  --text-color: #333333;

  /* Dark Theme */
  --bg-color-dark: #333333;
  --text-color-dark: #f5f5f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-color: #f9f9f9;
}

body.dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
