/* Font family */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.dashboard-sidebar {
  background: #fe5000;
  height: 100vh;
}
.dashboard-sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.dashboard-sidebar ul li {
  list-style: none;
}
.sidebar-logo {
  background: #171c34;
}
.sidebar-logo img {
  height: 60px;
}
.sidebar-logo h3 {
  color: #fff;
  margin-left: 40px;
}
.sidebar-logo {
  padding: 20px 25px;
}
.sideabar-menu {
  padding: 40px 20px;
}
.sideabar-menu a.active {
  color: #000;
}
/* It is for custom button */

.custom-btn {
  display: inline-block;
  overflow: hidden;
}

.custom-btn button {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 200px;
  position: relative;
  z-index: 1;
}

.custom-btn button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.33%;
  transition: width 0.3s;
  z-index: -1;
  background: linear-gradient(
    to right,
    #ff2100,
    #ff4000,
    #ff5500,
    #ff6700,
    #ff7600
  );
}

.custom-btn button:hover:before {
  width: 100%;
  transition: 0.3s;
}

.custom-btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}
/* This is for section title */
.section-title {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
.section-title h5 {
  font-size: 30px;
  color: #fe5000;
  margin-bottom: 5px;
  font-family: "Dancing Script", cursive;
}
.section-title h2 {
  font-size: 48px;
  text-transform: uppercase;
  margin: 10px 0;
}
.section-title span {
  font-weight: 900;
  color: #fe5000;
}
.section-title p {
  color: #777777;
  font-size: 18px;
  margin-bottom: 0;
}
/* It is for scroll to top */
.relative {
  position: relative;
}

/* Thene toggle */
:root {
  /* font-family: "Roboto Condensed", sans-serif; */
  /* Light Theme */
  --bg-color: #f5f5f5;
  --text-color: #333333;

  /* Dark Theme */
  --bg-color-dark: #333333;
  --text-color-dark: #f5f5f5;
}

body {
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  /* background-color: red !important; */
}

body.dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Responsive */
@media (max-width: 767px) {
  .section-title {
    text-align: center;
  }
}
/*MD devcie*/
@media (min-width: 768px) and (max-width: 991px) {
  .section-title h5 {
    font-size: 24px;
  }
  .section-title {
    padding: 10px 0;
  }
  .section-title h2 {
    font-size: 40px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .section-title h2 {
    font-size: 35px;
  }
  .section-title h5 {
    font-size: 22px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 30px;
  }
  .section-title h5 {
    font-size: 20px;
  }
  .section-title p {
    font-size: 16px;
  }
}
